@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");

:root {
  --dark-blue: #161f30;
  --dark-green: #173540;
  --dark-gray: #3d3d3d;
  --solid-white: white;
  --weak-white: #d5d5d5;
  --light-green: #217373;
  --light-lemonyellow: #84b026;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--dark-blue);
  color: var(--solid-white);
}
